# Notebook 5 - pandas
[pandas](http://pandas.pydata.org) provides high-level data structures and functions designed to make working with structured or tabular data fast, easy and expressive. The primary objects in pandas that we will be using are the `DataFrame`, a tabular, column-oriented data structure with both row and column labels, and the `Series`, a one-dimensional labeled array object.

pandas blends the high-performance, array-computing ideas of NumPy with the flexible data manipulation capabilities of spreadsheets and relational databases. It provides sophisticated indexing functionality to make it easy to reshape, slice and perform aggregations.

While pandas adopts many coding idioms from NumPy, the most significant difference is that pandas is designed for working with tabular or heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.
<br>

## Table of Contents:
- [Data Structures](#structures)
    - [Series](#series)
    - [DataFrame](#dataframe)
- [Essential Functionality](#ess_func)
    - [Reindexing](#reindexing)
    - [Dropping Entries](#removing)
    - [Indexing, Slicing and Filtering](#indexing)
    - [Arithmetic Operations](#arithmetic)
- [Summarizing and Computing Descriptive Statistics](#sums)
- [Loading and storing data](#loading)
    - [Text Format](#text) 
    - [Web Scraping](#web)
- [Data Cleaning and preperation](#cleaning)
    - [Handling missing data](#missing)
    - [Data transformation](#transformation)
- [String manipulation](#strings)

The common pandas import statment is shown below:

In [ ]:
# Common pandas import statement
import numpy as np
import pandas as pd

# Data Structures <a name="structures"></a>
## Series <a name="series"></a>
A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels called its index.

The easiest way to make a Series is from an array of data:

In [ ]:
data = pd.Series([4, 7, -5, 3])

Now try printing out data

The string representation of a Series displayed interactively shows the index on the left and the values on the right. Because we didn't specify an index, the default on is simply integers 0 through N-1.

You can output only the values of a Series using 
```python
data.values
```
or you can get only the indices using
```python
data.index
```
Try it out below!

You can specify custom indeces when intialising the Series

In [ ]:
data2 = pd.Series([4, 7, -5, 3], index=["a", "b", "c", "d"])

Now you can use these labels to access the data similar to a normal array

In [ ]:
data2["a"]

Another way to think about Series is as a fixed-length ordered dictionary. Furthermore, you can actually define a Series in a similar manner to a dictionary

In [ ]:
cities = {"Glasgow" : 599650, "Edinburgh" : 464990, "Abardeen" : 196670, "Dundee" : 147710}
data3 = pd.Series(cities)

In [ ]:
data3

You can do arithmetic operations between Series similar to NumPy arrays. Even if you have 2 datasets with different data, arithmetic operations will be aligned according to their indices.

Let's look at an example

In [ ]:
cities_uk = {"Birmingham" : 1092330, "Leeds": 751485, "Glasgow" : 599650,
             "Manchester" : 503127, "Edinburgh" : 464990}
data4 = pd.Series(cities_uk)

In [ ]:
data3 + data4

Notice how some of the results are NaN? Well, that is because there were no instances of those cities within both of the datasets. You can usually extract NaNs from a Series with
```python
data4.isnull()
```

## DataFrame <a name="dataframe"></a>
A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type. The DataFrame has both row and column index and can be thought of as a dict of Series all sharing the same index.

The most common way to create a DataFrame is with dicts

In [ ]:
data = {"cities" : ["Glasgow", "Edinburgh", "Abardeen", "Dundee"],
        "population" : [599650, 464990, 196670, 147710],
        "year" : [2011, 2013, 2013, 2013]}
frame = pd.DataFrame(data)

Try printing it out

In [ ]:
frame

Jupyter Notebooks prints it out in a nice table but the basic version of this is also just as readable!

Additionally you can also specify the order of columns during initialisation

In [ ]:
frame2 = pd.DataFrame(data, columns=["year", "cities", "population"])

You can retrieve a particular column from a DataFrame with
```python
frame["cities"]
```
The result is going to be a Series

Additionally, you can retrieve a row from the dataset using
```python
frame[1]
```
Try it out below

It is also possible to add and modify the columns of a DataFrame

In [ ]:
frame2["size"] = 100

In [ ]:
frame2

In [ ]:
frame2["size"] = [175, 264, 65.1, 60]  # in km^2

Similar to dicts, columns can be deleted using
```python
del frame2["size"]
```

Another common way of creating DataFrames is from a nested dict of dicts:

In [ ]:
data2 = {"Glasgow": {2011: 599650},
        "Edinburgh": {2013:464990},
        "Abardeen": {2013: 196670}}

frame3 = pd.DataFrame(data)
frame3

Here is a table of different ways of initialising a DataFrame for your reference

| Type | Notes |
| --- | --- |
| 2D ndarray | A matrix of data; passing optional row and column labels |
| dict of arrays, lists, or tuples | Each sequence becomes a column in the DataFrame; all sequences must be the same length |
| NumPy structured/recorded array | Treated as with the "dict of arrays, lists or tuples" case |
| dict of Series | Each value becomes a column; indexes from each Series are unioned together to<br>form the result's row index if not explicit index is passed |
| dict of dicts | Each inner dict becomes a column; keys are unioned to form the row<br>index as in the "dict of Series" case |
| List of dicts or Series | Each item becomes a row in the DataFrame; union of dict keys or<br>Series indices becomes the DataFrame's column labels |
| List of lists or tuples | Treated as the "2D ndarray" case |
| Another DataFrame | The DataFrame's indexes are used unless different ones are passed |
| NumPy MaskedArray | Like the "2D ndarray" case except masked values become NA/missing in the DataFrame |

# Essential Functionality <a name="ess_func"></a>
In this section, we will go through the fundamental mechanics of interacting with the data contained in a Series or DaraFrame.

## Reindexing <a name="reindexing"></a>
With pandas it is easy to restructure the order of your columns and rows using the `reindex` function. Let's have a look at an example:

In [ ]:
# first define a new Series
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s

In [ ]:
# Now you can reshuffle the indices
s = s.reindex(['d', 'b', 'a', 'c', 'e'])
s

Easy as that! This can also be extended for DataFrames, where you can reorder both the columns and indices at the same time!

In [ ]:
# first define a new Dataframe
data = np.reshape(np.arange(9), (3,3))
df = pd.DataFrame(data, index=["a", "b", "c"],
                  columns=["Edinburgh", "Glasgow", "Aberdeen"])
df

In [ ]:
# Now we can restructure it with reindex
df = df.reindex(index=["a", "d", "c", "b"],
          columns=["Aberdeen", "Glasgow", "Edinburgh", "Dundee"])

Notice something interesting? We can actually add new indices and columns using the `reindex` method. This results in the new slots in our table to be filled in with `NaN` values.

## Removing columns/indices <a name="removing"></a>
Similarl to above, it is easy to remove entries. This is done with the `drop` method and can be applied to both columns and indices:

In [ ]:
# define new DataFrame
data = np.reshape(np.arange(9), (3,3))
df = pd.DataFrame(data, index=["a", "b", "c"],
                  columns=["Edinburgh", "Glasgow", "Aberdeen"])

df.drop("b")

In [ ]:
# You can also drop from a column
df.drop(["Aberdeen", "Edinburgh"], axis="columns")

## Indexing, slicing and filtering <a name="indexing"></a>

### Indexing

Series indexing works analogously to NumPy array indexing (i.e. data[...]). You can also use the Serie's index values instead of only integers:

In [ ]:
s = pd.Series(np.arange(4), index=['a', 'b', 'c', 'd'])
s

In [ ]:
s[1]

In [ ]:
s[3]

In [ ]:
s["c"]

In [ ]:
s[[1,3]]

In [ ]:
s[s<2]

A subtle difference when indexing in pandas is that unlike in normal Python, slicing here is inclusive at the end-point.

In [ ]:
s["b":"c"]

All of the above also apply to DataFrames:

In [ ]:
data = np.reshape(np.arange(9), (3,3))
df = pd.DataFrame(data, index=["a", "b", "c"],
                  columns=["Edinburgh", "Glasgow", "Aberdeen"])

df

In [ ]:
df[:2]

In [ ]:
df["Glasgow"]

### loc and iloc
For DataFrame label-indexing on the rows, you can use `loc` for labels and `iloc` for integer-indexing.

In [ ]:
df.loc["b"]

In [ ]:
df.loc["b", ["Glasgow", "Aberdeen"]]

Now let's try `iloc`

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[1, [1,2]]

In [ ]:
df.iloc[:2]

Summary of indexing:

| Type | Notes |
| -- | -- |
| df\[val\]              | Select single column or sequency of columns from a DataFrame |
| df.loc\[val\]          | Select single row or subset of rows from a DataFrame by label |
| df.loc\[:, val\]       | Select single column or subset of columns by label |
| df.loc\[val1, val2\]   | Select both rows and columns by label |
| df.iloc\[idx\]         | Select single row or subset of rows from DataFrame by integer position |
| df.iloc\[:, idx\]      | Select single column or subset of columns by integer position |
| df.iloc\[idx1, idx2\]  | Select both rows and columns by integer position |
| reindex method         | Select either rows or columns by labels |

### Exercise 1
A dataset of random numbers is created below. Index the 47th column and the 22nd row. You should get the number **4621**.

*Note: Remember that Python uses 0-based indexing*

In [ ]:
df = pd.DataFrame(np.reshape(np.arange(10000), (100,100)))

### Exercise 2
Using the same DataFrame from the previous exercise, obtain all rows starting from row 85 to 97.

## Arithmetic <a name="arithmetic"></a>
When you are performing arithmetic operations between two objects, if any index pairs are not the same, the respective index in the result will be the union of the index pair. Let's have a look

In [ ]:
s1 = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])
s2 = pd.Series(np.arange(4), index=["b", "c", "d", "k"])
s1 + s2

The internal data alignment introduces missing values in the label locations that don't overlap. It is similar for DataFrames:

In [ ]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)),
                  columns=list("abcd"))
df1

In [ ]:
df2 = pd.DataFrame(np.arange(16).reshape((4,4)),
                  columns=list("cdef"))
df2

In [ ]:
# adding the two
df1+df2

Notice how where we don't have matching values from `df1` and `df2` the output of the addition operation is `NaN` since there are no two numbers to add.

Well, we can "fix" that by filling in the `NaN` values. This effectively tells pandas where there are no two values to add, assume that the missing value is just zero.

In [ ]:
df1.add(df2, fill_value=0)

Another important point here is although the normal arithmetic operations work here, there also exist dedicated methods like `DataFrame.add()` which achieve the same functionality + a bit extra.

Here's a list of all arithmetic operations within pandas:

| Operator | Method | Description |
| -- | -- | -- |
| + | add, radd | Addition |
| - | sub, rsub | Subtraction |
| / | div, rdiv | Division |
| // | floordiv, rfloordiv | Floor division |
| * | mul, rmul | Multiplication |
| ** | pow, rpow | Exponentiation |

Notice how some of the methods have `r` in front of them? That stands for reversed and effectively reverses the operands. For example

```python
df1.div(df2)
```
would be the same as
```python
df2/df1
```

### Exercise 3
Create a (3,3) DataFrame and square all elements in it.

### Broadcasting
Similar to numpy, in pandas you can also broadcast data structures. Let's consider a simple example:

In [ ]:
df1 = pd.DataFrame(np.arange(16).reshape((4,4)))
df1

In [ ]:
df2 = pd.Series(np.arange(4))
df2

In [ ]:
df1 - df2

Notice how the Series of [0, 1, 2, 3] got removed from each row? That is called broadcasting.

It can also be used for columns, but for that, you have to use the method arithmetic operations.

In [ ]:
df1.sub(df2, axis="index")

### Sorting
Sorting is an important built-in operation of pandas. Let's have a look at how you can do it:

In [ ]:
df1 = pd.DataFrame(np.arange(16).reshape((4,4)), index=["b", "a", "d", "c"])
df1

In [ ]:
df2 = df1.sort_index()
df2

Easy as that. Furthermore, you can also sort along the column axis with
```python
df1.sort_index(axis=1)
```

You can also sort by the actual values inside, but you have to give the column by which you want to sort.

In [ ]:
df1 = pd.DataFrame([4, 3, 6, 1, 3, 5], columns=["a"])
df1

In [ ]:
df1.sort_values(by="a")

## Summarizing and computing descriptive stats <a name="sums"></a>
`pandas` is equipped with common mathematical and statistical methods. Most of which fall into the category of reductions or summary statistics. These are methods that extract a single value from a list of values. For example, you can extract the mean of a `Series` object like this:

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(5,4),
                 columns=["a", "b", "c", "d"])
df

In [ ]:
df.sum()

Notice how that created the sum of each column?

Well you can actually make that the other way around by adding an extra option to `sum()`

In [ ]:
df.sum(axis="columns")

A similar method also exists for obtaining the mean of data:

In [ ]:
df.mean()

Finally, the mother of the methods we discussed here is `describe()`

In [ ]:
df.describe()

Here are all of the summary methods:

| Method | Description |
| -- | -- |
| count          | Number of non-NA values |
| describe       | Set of summary statistics |
| min, max       | Minimum, maximum values |
| argmin, argmax | Index locations at which the minimum or maximum value is obtained | 
| quantile       | Compute sample quantile ranging from 0 to 1 |
| sum            | Sum of values |
| mean           | Mean of values |
| median         | Arithmetic median of values |
| mad            | Mean absolute deviation from mean value |
| prod           | Product of all values |
| var            | Sample variance of values
| std            | Sample standard deviation of values
| cumsum         | Cumulative sum of values |
| cummin, cummax | Cumulative minimum or maximum of values, respectively |
| cumprod        | Cumulative product of values |
| value_counts() | Counts the number of occurrences of each unique element in a column |

### Exercise 4

A random DataFrame is created below. Find it's mean and standard deviation, then normalise it column-wise according to the formula:

$$ Y = \frac{X - \mu}{\sigma} $$

Where X is your dataset, $\mu$ is the mean and $\sigma$ is the standard deviation.

In [ ]:
df = pd.DataFrame(np.random.uniform(0, 10, (100, 100)))

# Data Loading and Storing <a name="loading"></a>
Accessing data is a necessary first step for data science. In this section, the focus will be on data input and output in various formats using `pandas`

Data usually fall into these categories:
- text files
- binary files (more efficient space-wise)
- web data

## Text formats <a name="text"></a>
The most common format in this category is by far `.csv`. This is an easy to read file format which is usually visualised like a spreadsheet. The data itself is usually separated with a `,` which is called the **delimiter**.

Here is an example of a `.csv` file:

```
"Sell", "List", "Living", "Rooms", "Beds", "Baths", "Age", "Acres", "Taxes"
142, 160, 28, 10, 5, 3,  60, 0.28,  3167
175, 180, 18,  8, 4, 1,  12, 0.43,  4033
129, 132, 13,  6, 3, 1,  41, 0.33,  1471
138, 140, 17,  7, 3, 1,  22, 0.46,  3204
232, 240, 25,  8, 4, 3,   5, 2.05,  3613
135, 140, 18,  7, 4, 3,   9, 0.57,  3028
150, 160, 20,  8, 4, 3,  18, 4.00,  3131
207, 225, 22,  8, 4, 2,  16, 2.22,  5158
271, 285, 30, 10, 5, 2,  30, 0.53,  5702
 89,  90, 10,  5, 3, 1,  43, 0.30,  2054
 ```

It detailed home sale statistics. The first line is called the header, and you can imagine that it is the name of the columns of a spreadsheet.

Let's now see how we can load this data and analyse it. The file is located in the folder `data` and is called `homes.csv`. We can read it like this:

In [ ]:
homes = pd.read_csv("data/homes.csv")

In [ ]:
homes

Easy right?

### Exercise 5
Find the mean selling price of the homes in `data/homes.csv`

The `read_csv` function has a lot of optional arguments (more than 50). It's impossible to memorise all of them - it's usually best just to look up the particular functionality when you need it. 

You can search `pandas read_csv` online and find all of the documentation.

There are also many other functions that can read textual data. Here are some of them:

| Function | Description
| -- | -- |
| read_csv       | Load delimited data from a file, URL, or file-like object. The default delimiter is a comma `,` |
| read_table     | Load delimited data from a file, URL, or file-like object. The default delimiter is tab `\t` |
| read_fwf       | Read data in fixed0width column format (i.e. no delimiters |
| read_clipboard | Reads the last object you have copied (Ctrl-C) |
| read_excel     | Read tabular data from Excel XLS or XLSX file |
| read_hdf       | Read HDF5 file written by pandas |
| read_html      | Read all tables found in the given HTML document |
| read_json      | Read data from a JSON string representation |
| read_sql       | Read the results of a SQL query |

*Note: there are also other loading functions which are not touched upon here*

### Exercise 6
There is another file in the data folder called `homes.xlsx`. Can you read it? Can you spot anything different?

In [ ]:
pd.read_excel("data/homes.xlsx")

### Writing CSV files
Easy!

In [ ]:
homes.to_csv("test.csv")

### Exercise  7
Create a DataFrame which consists of all numbers 0 to 1000. Reshape it into 50 rows and save it to a `.csv` file. How many columns did you end up with?

### Exercise 8
There is a dataset `data/yob2012.txt` which lists the number of newborns registered in 2018 with their names and sex. Open the dataset in pandas, explore it and derive the ratio between male and female newborns.

## Web scraping <a name="web"></a>
It is also very easy to scrape webpages and extract tables from them.

For example, let's consider extracting the table of failed American banks.

In [ ]:
url = "https://www.fdic.gov/bank/individual/failed/banklist.html"
banks = pd.read_html(url)
banks = banks[0]

In [ ]:
banks

Powerful no? Now let's turn that into an exercise.

### Exercise 9
Given the data you just extracted above, can you analyse how many banks have failed per state?

Georgia (GA) should be the state with the most failed banks!

*Hint: try searching the web for pandas counting occurrences*

# Data Cleaning <a name="cleaning"></a>
While doing data analysis and modeling, a significant amount of time is spent on data preparation: loading, cleaning, transforming and rearranging. Such tasks are often reported to take **up to 80%** or more of a data analyst's time. Often the way the data is stored in files isn't in the correct format and needs to be modified. Researchers usually do this on an ad-hoc basis using programming languages like Python.

In this chapter, we will discuss tools for handling missing data, duplicate data, string manipulation, and some other analytical data transformations.

## Handling missing data <a name="missing"></a>
Mussing data occurs commonly in many data analysis applications. One of the goals of pandas is to make working with missing data as painless as possible.

In pandas, missing numeric data is represented by `NaN` (Not a Number) and can easily be handled:

In [ ]:
string_data = pd.Series(['orange', 'tomato', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

Furthermore, the pandas `NaN` is functionally equlevant to the standard Python type `NoneType` which can be defined with `x = None`.

In [ ]:
string_data[0] = None
string_data

In [ ]:
string_data.isnull()

Here are some other methods which you can find useful:
    
| Method | Description |
| -- | -- |
| dropna | Filter axis labels based on whether the values of each label have missing data|
| fillna | Fill in missing data with some value |
| isnull | Return boolean values indicating which values are missing |
| notnull | Negation of isnull |

### Exercise 10
Remove the missing data below using the appropriate method

In [ ]:
data = pd.Series([1, None, 3, 4, None, 6])
data

`dropna()` by default removes any row/column that has a missing value. What if we want to remove only rows in which all of the data is missing though?

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., None, None],
                    [None, None, None], [None, 6.5, 3.]])
data

In [ ]:
data.dropna()

In [ ]:
data.dropna(how="all")

### Exercise 11
That's fine if we want to remove missing data, what if we want to fill in missing data? Do you know of a way? Try to fill in all of the missing values from the data below with **0s**

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [2., None, None],
                    [None, None, None], [None, 1.5, 9.]])










pandas also allows us to interpolate the data instead of just filling it with a constant. The easiest way to do that is shown below, but there are more complex ones that are not covered in this course.

In [ ]:
data.fillna(method="ffill")

If you want you can explore the other capabilities of [`fillna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html)

## Data Transformation  <a name="transformation"></a>
### Removing duplicates
Duplicate data can be a serious issue, luckily pandas offers a simple way to remove duplicates

In [ ]:
data = pd.DataFrame([1, 2, 3, 4, 3, 2, 1])
data

In [ ]:
data.drop_duplicates()

You can also select which rows to keep

In [ ]:
data.drop_duplicates(keep="last")

### Replacing data
You've already seen how you can fill in missing data with `fillna`. That is actually a special case of more general value replacement. That is done via the `replace` method.

Let's consider an example where the dataset given to us had `-999` as sentinel values for missing data instead of `NaN`.

In [ ]:
data = pd.DataFrame([1., -999., 2., -999., 3., 4., -999, -999, 7.])
data

In [ ]:
data.replace(-999, np.nan)

### Renaming axis indexes
Similar to `replace` you can also rename the labels of your axis

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Edinburgh', 'Glasgow', 'Aberdeen'])
data

In [ ]:
# create a map using a standard Python dictionary
mapping = { 0 : "one",
            1 : "two",
            2 : "three",
            3 : "four"}

# now rename the columns
data.rename(columns=mapping)

Rows can be renamed in a similar fashion

### Detection and Filtering Outliers
Filtering or transforming outliers is largely a matter of applying array operations. Consider a DataFrame with some normally distributed data:

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

Suppose you now want to lower all absolute values exceeding 3 from one of the columns

In [ ]:
col = data[2]
col[np.abs(col) > 3]

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

### Permutation and Random Sampling

Permuting (randomly reordering) of rows in pandas is easy to do using the `numpy.random.permutation` function. Calling permutation with the length of the axis you want to permute produces an array of integers indicating the new ordering:

In [ ]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

In [ ]:
# generate random order
sampler = np.random.permutation(5)
sampler

In [ ]:
df.take(sampler)

To select a random subset without replacement, you can use the sample method:

In [ ]:
df.sample(n=3)

# String manipulation <a name="strings"></a>
Python has long been popular for its raw data manipulation in part due to its ease of use for string and text processing. Most text operations are made simple with the string object's built-in methods. For more complex pattern matching and text manipulations, regular expressions may be needed.

### Basics
Let's refresh what normal `str` (String objects) are capable of in Python

In [ ]:
# complex strings can be broken into small bits
val = "Edinburgh is great"
val.split(" ")

In [ ]:
# substrings can be concatinated together with +
first, second, last = val.split(" ")
first + "::" + second + "::" + last

Remember that Strings are just lists of individual charecters

In [ ]:
val = "Edinburgh"
for each in val:
    print(each)

You can use standard list operations with them

In [ ]:
val.find("n")

In [ ]:
val.find("x")  # -1 means that there is no such element

In [ ]:
# and of course remember about upper() and lower()
val.upper()

If you want to learn more about strings you can always refer to the [Python manual](https://docs.python.org/2/library/string.html)

### Regular expressions
provide a flexible way to search or match (often more complex) string patterns in text. A single expression, commonly called *regex*, is a string formed according to the regular expression language. Python's built-in module is responsible for applying regular expression of strings via the `re` package

In [ ]:
import re
text = "foo    bar\t baz   \tqux"
text

In [ ]:
re.split("\s+", text)

this expression effectively removed all whitespaces and tab characters (`\t`) which was stated with the `\s` regex and then the `+` after it means to remove any number of sequential occurrences of that character.

Let's have a look at a more complex example - identifying email addresses in a text file:

In [ ]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

# pattern to be used for searching
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
regex.findall(text)

Let's dissect the regex part by part:
```
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
```

- the `r` prefix before the string signals that the string should keep special characters such as the newline character `\n`. Otherwise, Python would just treat it as a newline
- `A-Z` means all letters from A to Z including lowercase and uppercase
- `0-9` similarly means all characters from 0 to 9
- the concatenation `._%+-` means just include those characters
- the square brackets [ ] means to combine all of the regular expressions inside. For example `[A-Z0-9._%+-]` would mean include all letters A to Z, all numbers 0 to 9, and the characters ._%+-
- `+` means to concatenate the strings patterns
- `{2,4}` means consider only 2 to 4 character strings

To summarise the pattern above searches for any combination of letters and numbers, followed by a `@`, then any combination of letters and numbers followed by a `.` with only 2 to 4 letters after it.

### Regular expressions and pandas
Let's see how they can be combined. Replicating the example above

In [ ]:
data = pd.Series({'Dave': 'Daves email dave@google.com', 'Steve': 'Steves email steve@gmail.com',
        'Rob': 'Robs rob@gmail.com', 'Wes': np.nan})
data

We can reuse the same `pattern` variable from above

In [ ]:
data.str.findall(pattern, flags=re.IGNORECASE)

pandas also offers more standard string operations. For example, we can check if a string is contained within a data row:

In [ ]:
data.str.contains("gmail")

Many more of these methods exist:
    
    
| Methods | Description |
| -- | -- |
| cat | Concatenate strings element-wise with optional delimiter |
| contains | Return boolean array if each string contains pattern/regex |
| count | Count occurrences of a pattern |
| extract | Use a regex with groups to extract one or more strings from a Series |
| findall | Computer list of all occurrences of pattern/regex for each string |
| get | Index into each element |
| isdecimal | Checks if the string is a decimal number |
| isdigit | Checks if the string is a digit |
| islower | Checks if the string is in lower case |
| isupper | Checks if the string is in upper case |
| join | Join strings in each element of the Series with passed seperator |
| len | Compute the length of each string |
| lower, upper | Convert cases |
| match | Returns matched groups as a list |
| pad | Adds whitespace to left, right or both sides of strings |
| repeat | Duplicate string values |
| slice | Slice each string in the Series |

### Exercise 12
There is a `dataset data/yob2012.txt` which lists the number of newborns registered in 2018 with their names and sex. Using regular expressions, extract all names from the dataset which start with letters A to C. How many names did you find?

Note: `^` is the "starting with" operator in regular expressions,

In [ ]:
Thanks